.github/**
.history/**
.markdownlintrc
.vscode/**
.vscode-test/**
out/**
src/**
test/**
build/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
build.sh
node_modules/**
**/*.map
**/tsconfig.json
**/.gitignore
**/.eslintignore
**/.eslintrc.js
webpack.config.js
